body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 3px 7px 3px lightgrey;
}

.card:hover {
    animation-name: myAnimation;
    animation-duration: 4s;
}

@keyframes myAnimation {
  from {background-color: red;}
  to {background-color: yellow;}
}